[submodule "testdata/case/javascript-nodejs-sample-0"]
	path = testdata/case/javascript-nodejs-sample-0
	url = https://github.com/sgtest/javascript-nodejs-sample-0.git
[submodule "testdata/case/javascript-nodejs-xrefs-0"]
	path = testdata/case/javascript-nodejs-xrefs-0
	url = https://github.com/sgtest/javascript-nodejs-xrefs-0.git
[submodule "testdata/case/minimal_nodejs_stdlib"]
	path = testdata/case/minimal_nodejs_stdlib
	url = https://github.com/sgtest/minimal_nodejs_stdlib.git
[submodule "testdata/case/js-misc"]
	path = testdata/case/js-misc
	url = https://github.com/sgtest/js-misc.git
[submodule "testdata/case/javascript-es6-tests"]
	path = testdata/case/javascript-es6-tests
	url = https://github.com/sgtest/javascript-es6-tests.git
