[submodule "testdata/case/javascript-nodejs-sample-0"]
	path = testdata/case/javascript-nodejs-sample-0
	url = git@github.com:sgtest/javascript-nodejs-sample-0
[submodule "testdata/case/javascript-nodejs-xrefs-0"]
	path = testdata/case/javascript-nodejs-xrefs-0
	url = git@github.com:sgtest/javascript-nodejs-xrefs-0
